:root{
    --smoky-black-: #0F0F0F; /* Smoky Black */
    --snow-: #FBFBFB; /* Snow */
    --rusty-red-: #D62839; /* Rusty Red */
    --rust-red-light-:#E88993;
    --honeydew-: #EFF9F0; /* Honeydew */
    --yankees-blue-: #102542; /* Yankees Blue */
    --electric-blue-: #77E3FF;
    --japanese-indigo-:#264653;
    --middle-blue:#82D2E2;
    --cadet-blue:#629FAC;
}

/* ================================================================================== */

html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body,
button,
input,
select,
textarea{
    font-family: "Noto Sans JP", sans-serif;
    background-color: white;
    color: var(--smoky-black-);
    margin:0;
    font-size: 16px;
    line-height: 1.5;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

button{
    border: none;
    border-radius: 5px;
    padding: 0.25em 1em;
    cursor:pointer;
}

a{
    text-decoration:none;
    cursor: pointer;
    color:var(--smoky-black-);

}

a:visited{
    color:var(--smoky-black-);
}

.container{
    overflow:hidden;
    margin:0;
    text-align: center;
}

section{
    width: 90%;
    margin: 0 auto;
}

section h1{
    background-color:var(--japanese-indigo-);
    color: var(--snow-);
    margin: 1em auto;
    padding: 0.3em 1em;
    border-radius: 5px;
    /* margin:0; */
}

/* ================================================================================== */
.masthead{
    background-color:var(--middle-blue);
    background-image: url("/assets/images/000146824.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    padding: 1em;

    display: block;
}

.masthead h1{
    color:var(--japanese-indigo-);
}

/* ================================================================================== */
.navbar{
    padding: 1em;
    background-color: var(--japanese-indigo-);
    display:flex;
    align-items:center;
    justify-content: space-between;
    min-height:8vh;
    position:relative;/*experiement*/
    z-index:6;
}

.brand{
    width:50px;
    margin:0;
}

.brand img{
    border-radius:3px;
}

.nav-collapse{
    background-color:var(--cadet-blue);
    display:none;
    position:absolute;
    top:8vh;
    width:100%;
    left:0;
    z-index:5;
    margin:0;
}

.navbar ul{
    padding:0;
    margin: 0;
}

.nav-item{
    list-style:none;
    padding: 0.5em 1em 0.5em 1em;
    text-align:left;
    margin:0;
}

.nav-item a{
    text-decoration: none;
    color:var(--snow-);
}

.fa-bars{
    color:var(--snow-);
    font-size:2.5em;
}

/* ================================================================================== */

.carousel{
    background-color:black;
}
  
.carousel-cell{
    width: 100%;
    height:250px;
    overflow:hidden;
}

.carousel-cell img{
    height:100%;
    object-fit:cover;
}

.carousel-cell a{
    cursor: pointer;
}

.carousel-cell p{
    position:absolute;
    bottom:0;
    left:0;
    background-color: rgba(0,0,0,0.6);
    color:white;
    width:100%;
    text-align:left;
    padding:0.5em;
    margin:0;
}

/* ================================================================================== */
.eventCard{
    padding:0.5em 1em 1em 1em;
    margin: 2em 1em;
    border: 3px solid var(--cadet-blue);
    border-radius: 5px;
}

.eventTitle, .eventDate, .eventLocation, .eventLink{
    margin:0.5em;
}
/* 
.eventTitle{
    
} */

.eventCard hr{
    border: 2px solid var(--japanese-indigo-);
    border-radius: 3px;
    width: 4em;
}

/* .eventDate{

}

.eventLocation{

} */

/* ================================================================================== */
/* .announcements{
    
} */

.announcementItem{
    text-align:left;
    padding-left: 1em;
}

.announcementItem:hover{
    background-color:var(--honeydew-);
}

.announcementDate{
    margin-bottom: 0.3em;
}

.announcements .fa-chevron-right{
    font-size:1em;
}

/* .announcementLink{
    
} */

/* ================================================================================== */


.ambassador img{
    margin:2em auto;
    object-fit:cover;
    object-position: 0 20%;
    width:130px;
    height:130px;
    border-radius:50%;
    border: 3px solid var(--cadet-blue);
    padding: 0.2em;
    margin:0 auto;
}

.ambassadorCard{
    display:grid;
    grid-template-columns: min-content auto;
    align-items:center;
    width: 70%;
    margin: 0 auto;
}

.ambassadorLinks{
    display:grid;
    font-size:0.7em;
    
}
/* ================================================================================== */

/* ================================================================================== */

/* ================================================================================== */

/* ================================================================================== */

/* ================================================================================== */

/* ================================================================================== */
.footer{
    padding: 1em;
    background-color:var(--japanese-indigo-);
    color:white;
}

.footer a{
    color:white;
}
/* ================================================================================== */




@media (min-width: 576px) {

}


@media (min-width: 768px){

}


@media (min-width: 992px){
    .navbar{
        display:flex;
        justify-content:space-around;
        align-items:center;
        min-height: 8vh;
    }

    .toggle{
        display:none;
    }
    .nav-collapse{
        display:flex;
        align-items:center;
        position:static;
        background-color:transparent;
        
    }
    .nav-item{
        
        /* width:30%; */
    }
}


@media (min-width: 1200px){

}
